<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/amir/IdeaProjects/SJava/DemoQA First">

        <classes>
            <class name="advanced_locators.CssSelectorDemo">
                <methods>
                    <include name="cssSelectorTest"/>
                </methods>
            </class>
            <class name="advanced_locators.DatePickerTest">
                <methods>
                    <include name="amazonXPathTest"/>
                </methods>
            </class>
            <class name="advanced_locators.SwisTradeWork">
                <methods>
                    <include name="swisTradeTest1"/>
                </methods>
            </class>
            <class name="basic_locators.ByClassDemo">
                <methods>
                    <include name="byClassDemoTest"/>
                </methods>
            </class>
            <class name="basic_locators.ByIdDemo">
                <methods>
                    <include name="byIdDemoTest"/>
                </methods>
            </class>
            <class name="basic_locators.ByLinkedTextDemo">
                <methods>
                    <include name="byLinkedTextTest"/>
                </methods>
            </class>
            <class name="basic_locators.ByNameDemo">
                <methods>
                    <include name="demo1"/>
                </methods>
            </class>
            <class name="basic_locators.ByTegName">
                <methods>
                    <include name="byTegNameTest"/>
                </methods>
            </class>
            <class name="basic_locators.DemoQA">
                <methods>
                    <include name="demo1"/>
                    <include name="demo2"/>
                </methods>
            </class>
            <class name="basic_locators.PartialLinkTextDemo">
                <methods>
                    <include name="partialLinkedTextTest"/>
                </methods>
            </class>
            <class name="demoqa_tests.AccordianTests">
                <methods>
                    <include name="accordianTest"/>
                </methods>
            </class>
            <class name="demoqa_tests.AlertTest">
                <methods>
                    <include name="alertTest"/>
                </methods>
            </class>
            <class name="demoqa_tests.BasicAutDemo">
                <methods>
                    <include name="basicAutTest"/>
                </methods>
            </class>
            <class name="demoqa_tests.BrowserWindowTest">
                <methods>
                    <include name="windowTest"/>
                </methods>
            </class>
            <class name="demoqa_tests.ButtonsTest">
                <methods>
                    <include name="testButtons"/>
                </methods>
            </class>
            <class name="demoqa_tests.CssSelectorDemoDemo">
                <methods>
                    <include name="cssSelectorDemoTest"/>
                </methods>
            </class>
            <class name="demoqa_tests.FramesTest">
                <methods>
                    <include name="testFrames"/>
                </methods>
            </class>
            <class name="demoqa_tests.FromPageTests">
                <methods>
                    <include name="testFromPage"/>
                </methods>
            </class>
            <class name="demoqa_tests.MenuTests">
                <methods>
                    <include name="menuTest"/>
                </methods>
            </class>
            <class name="demoqa_tests.PracticeFormTest">
                <methods>
                    <include name="practiceFormTest"/>
                </methods>
            </class>
            <class name="demoqa_tests.SelectMenuTest">
                <methods>
                    <include name="selectValueTest"/>
                    <include name="selectMenuTest"/>
                    <include name="clickSelectOneOptions"/>
                    <include name="multiSelectDropDown"/>
                    <include name="standardMultiSelectTest"/>
                </methods>
            </class>
            <class name="demoqa_tests.TextBoxTests">
                <methods>
                    <include name="textTextBox"/>
                    <include name="testTexBox2"/>
                </methods>
            </class>
            <class name="demoqa_tests.WebTablesTest">
                <methods>
                    <include name="webTableTest"/>
                </methods>
            </class>
            <class name="some_webs.AmazonTests">
                <methods>
                    <include name="amazonTests"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
