<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="UI Test Suite">

    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="UI Tests" verbose="2" preserve-order="true">
        <parameter name="TEST_GROUP" value="UI"/> <!-- Указываем параметр для группы -->
        <groups>
            <run>
                <include name="UI"/> <!-- Запускаем только UI тесты -->
            </run>
        </groups>
        <classes>
            <class name="advanced_locators.DatePickerTest">
                <methods>
                    <include name="amazonXPathTest"/> <!-- Метод из класса DatePickerTest -->
                </methods>
            </class>
            <class name="basic_locators.ByLinkedTextDemo">
                <methods>
                    <include name="byLinkedTextTest"/> <!-- Метод из класса ByLinkedTextDemo -->
                </methods>
            </class>
            <class name="demoqa_tests.AccordianTests">
                <methods>
                    <include name="accordianTest"/> <!-- Метод из класса AccordianTests -->
                </methods>
            </class>
            <class name="basic_locators.ByIdDemo">
                <methods>
                    <include name="byIdDemoTest"/> <!-- Метод из класса ByIdDemo -->
                </methods>
            </class>
            <class name="demoqa_tests.PracticeFormTest">
                <methods>
                    <include name="practiceFormTest"/> <!-- Метод из класса PracticeFormTest -->
                </methods>
            </class>
            <class name="demoqa_tests.TextBoxTests">
                <methods>
                    <include name="textTextBox"/> <!-- Метод из класса TextBoxTests -->
                </methods>
            </class>
        </classes>
    </test>
</suite>
