<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="UI Test Suite">
    <test name="UI Tests" verbose="2" preserve-order="true">
        <groups>
            <run>
                <include name="UI"/> <!-- Запускаем только UI тесты -->
            </run>
        </groups>
        <classes>
            <class name="advanced_locators.DatePickerTest">
                <methods>
                    <include name="amazonXPathTest"/> <!-- Убедитесь, что метод относится к группе UI -->
                </methods>
            </class>
            <class name="basic_locators.ByLinkedTextDemo">
                <methods>
                    <include name="byLinkedTextTest"/> <!-- Убедитесь, что метод относится к группе UI -->
                </methods>
            </class>
            <class name="demoqa_tests.AccordianTests">
                <methods>
                    <include name="accordianTest"/> <!-- Убедитесь, что метод относится к группе UI -->
                </methods>
            </class>
            <!-- Добавьте другие UI-тесты с группой "UI" -->
            <class name="basic_locators.ByIdDemo">
                <methods>
                    <include name="byIdDemoTest"/> <!-- Убедитесь, что метод относится к группе UI -->
                </methods>
            </class>
            <class name="demoqa_tests.PracticeFormTest">
                <methods>
                    <include name="practiceFormTest"/> <!-- Убедитесь, что метод относится к группе UI -->
                </methods>
            </class>
            <class name="demoqa_tests.TextBoxTests">
                <methods>
                    <include name="textTextBox"/> <!-- Убедитесь, что метод относится к группе UI -->
                </methods>
            </class>
            <!-- Добавьте другие классы и методы UI-тестов по необходимости -->
        </classes>
    </test>
</suite>
